[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "forge/lib/ds-test"]
	path = forge/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "forge/lib/solmate"]
	path = forge/lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "forge/lib/perpetual-pools-contracts"]
	path = forge/lib/perpetual-pools-contracts
	url = https://github.com/tracer-protocol/perpetual-pools-contracts
